@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
  background-color: rgb(236, 191, 145);
  font-family: 'Comic Neue', cursive;
  font-size: 25px;
}
h1{
  font-size: 45px;
}
.pokedex {
 margin: auto;
 text-align: center; 
}
.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 30px auto;
  max-width: 1200px;
  justify-items: center;
}
.card {
  background-color: rgb(222, 253, 224);
  display: grid;
  justify-items: center;
  border-radius: 15px;
  padding: 10px;
  text-transform: capitalize;
}
.card img {
  margin-top: 20px;
  max-width: 50%;
}
.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
